<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="login-form">
                <h2>Login</h2>
                <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <!-- Username -->
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" class="form-control" formControlName="username" />
                        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="text-danger">
                            Please enter a valid username.
                        </div>
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control" formControlName="password" />
                        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
                            Please enter a valid password.
                        </div>
                    </div>
                    <div class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
                    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
                      Login
               </button>
                    
                </form>
            </div>
        </div>
    </div>
</div>